h1 {
    text-align: center;
  }

#myProgress {
    width: 100%;
  }
#myBar {
    width: 0%;
    height: 30px;
    margin-top: 5px;
  }

#button-container {
  margin-top: 5px;
}

#image-container {
  display: flex;
  justify-content: space-around;
}

#image-container img {
  height: 250px;
}