/* Coolors Exported Palette - coolors.co/c3c3e6-d1c8e1-bba0ca-b370b0-87255b */

@import "transitions.css";

body {
    background-color: rgba(209, 200, 225, 1);
}

h1 {
    font-family: Lobster, 'Times New Roman', serif;
    color: rgba(135, 37, 91, 1);
}

img {
    border: 3px solid rgba(209, 200, 225, 1);
    opacity: 0;
}

#myProgress {
    background-color: rgba(187, 160, 202, 1);
  }

#myBar {
    background-color: rgba(135, 37, 91, 1);
  }

img:hover {
    border: 3px solid rgba(135, 37, 91, 1);
}